@import '~bootstrap/dist/css/bootstrap.min.css';


.navbar-brand {
    margin-left: 37.3%;
    font-size: 35px;
}

.btn-huge {
    max-width: 40%;
    margin-left: 24%;
    display: block;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
      
      
tr:nth-child(even) {
    background-color: #dddddd;
}

.thtitle {
    width: 50%;
    border: 5px solid blueviolet;
    text-align: center;
}

.thpic {
    width: 50%;
    border: 5px solid blueviolet;
    text-align: center;
}

