<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">API DATA PROJECT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      </ul>

    </div>
  </nav>

  <div class="buttonFirst" style="text-align:center">
    <button class="btn btn-primary btn-lg btn-block btn-huge" id="bigButton" (click)='showData()'>Get some data</button>
  </div>



  <div>
  <table class="tableO">
     
    <tr>
        <td class="thtitle">  <h3>Title</h3>  </td>
        <td class="thpic">    <h3>Picture</h3>  </td>
    </tr>
    <tbody *ngFor='let res of allData'>
      <tr>
        <td>{{res?.title}}</td>
        <td><img src="{{res?.url}}" height="60px" width="400px"></td>
        <button class="btn btn-primary" (click)='onClick(res.id)' routerLink="/dashboard/view" routerlinkactive='active'>View  more</button>

      </tr>
      
    </tbody>
  </table>
  </div>

  
  